:root {
    --bg-color: #f2e3a6 ;
    --accent-color: #08621b ;
    --text-color: #c754bc; 
}

body {
    /* Dentro de llaves de las propiedades */
    font-family: "montserrat", sans-serif;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "monte-stella", sans-serif;
text-align: :left
}

.nav-link {
background-color: var(--bg-color);
color: var(--text-color);
}
